@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Geist:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E2EAF5;
    font-family: 'Poppins', Helvetica, sans-serif;
    padding: 5px;
}

header {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    height: 100px;
}

.logo {
    margin: 10px;
}

input {
    width: 200px;
    height: 20px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.082);
}

input::placeholder {
    color: rgba(0, 0, 0, 0.342);
}

input:focus {
    outline: 2px solid #3aa2ff;
}

.card-clima-atual {
    display: flex;
    margin-left: 30px;
}

.clima-atual {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
}

.clima-atual>p {
    color: rgba(0, 0, 0, 0.342);
    font-weight: 600;
    font-size: smaller;
}

.clima-atual>h2 {
    font-size: 3em;
    font-weight: bolder;
}

.clima-horarios {
    background-image: linear-gradient(to left, #007DFE, #66b8ff);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    height: 200px;
    margin: 10px;
    padding: 0px 20px;
    border-radius: 30px;
    overflow-x: scroll;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.158);
}

::-webkit-scrollbar {
    overflow-x: hidden;
}

.clima-horarios img {
    height: 60px;
    width: 60px;
}

.clima-horario {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.graus {
    font-size: 1.3em;
    font-weight: bolder;
    color: white;
    text-align: center;
}

.horario {
    font-size: 0.8em;
    color: #e2eaf5c2;
    text-align: center;
}

.condicoes-ar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
}

.item {
    background-color: #FFFFFF;
    text-align: center;
    padding: 20px 10px;
    border-radius: 25px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.158);
}

.item>p {
    font-size: small;
    color: gray;
    margin-bottom: 10px;
}

.item>i {
    font-size: 1.5em;
    color: rgb(172, 172, 172);
}

.item>span {
    font-size: 2em;
    font-weight: bold;
}

#km {
    font-size: 1em;
    font-weight: 600;
}

.previsao-semana {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #ffffff;
    margin: 10px;
    padding: 20px 50px;
    border-radius: 25px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.158);
}

.previsao-semana img {
    width: 80px;
}

.previsao-dia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.previsao-dia>div {
    display: flex;
    gap: 10px;
}

.previsao-dia p {
    color: gray;
}

.previsao-dia>p:first-child {
    flex-basis: 100px;
}

@media (min-width: 1920px) {
    body {
        padding: 10px 50px;
    }

    header {
        flex-direction: row;
        justify-content: flex-start;
        margin-left: 200px;
    }

    .logo {
        width: 200px;
    }

    input {
        margin-top: 10px;
        margin-left: 30px;
        width: 500px;
    }

    main {
        margin: 20px 200px;
    }

    .main-container {
        float: left;
        width: 60%;
        margin: 30px;
    }

    .card-clima-atual {
        width: 500px;
        gap: 10px;
        margin-left: 100px;
        justify-content: space-between;
        font-size: 1.2em;
    }

    .clima-horarios {
        justify-content: center;
        height: 300px;
        gap: 40px;
    }

    .clima-horarios img {
        height: 75px;
        width: 75px;
    }

    .clima-horario>p {
        font-size: 1.1rem;
    }

    .clima-horario>p:last-child {
        font-size: 1.7rem;
    }

    .condicoes-ar {
        display: flex;
    }

    .item {
        flex-basis: 25%;
    }

    .aside-container {
        float: right;
    }
}